body {
    margin: 0;
    padding: 0;
    background-color: white;
}

.navbar {
    display: inline-block;
    margin: 10px;
}

a {
    color: #172;
    text-decoration: none;
    font-size: 20px;
}

.home_image {
    width: 550px;
}

section {
    height: 85vh;
    display: flex;
    align-items: center;
    justify-content: center;
}