.project-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: white;
    z-index: 10; 
    display: flex;
    padding: 20px;
    visibility: hidden;
    opacity: 0;
    transform: translateY(100%);
}

.close-btn {
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
}

.modal-left-column {
    flex: 1;
}

.modal-right-column {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 20px;
}

.modal-image {
    width: 100%;
}

.project-name {
    font-weight: bold;
    font-size: 40px;
}
