.project-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: white;
    z-index: 10; 
    display: flex;
    padding: 20px;
    visibility: hidden;
    opacity: 0;
    transform: translateY(100%);
}

.close-btn {
    cursor: pointer;
    font-weight: 800;
}

.modal-left-column {
    flex: 1;
}

.modal-right-column {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding-left: 20px;
}

.project-banner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.modal-image {
    width: 100%;
}

.project-name {
    font-weight: bold;
    font-size: 40px;
    letter-spacing: -2px;
}

p {
    margin-top: 20px;
}
